$primary-font: 'Montserrat', sans-serif;

$primary-font-size: 1.125rem;

$black-color: #000;
$grey-color: #e5e5e5;
$dark-grey-color: #b1b1b1;
$highlight-color: #e33e54;
$orange-color: #ea6628;
$red-color: #ae2236;
$turquoise-color: #4c858b;
$dark-turquoise-color: #0c2f33;
$button-color: #215359;

$primary-transition: all .3s;


// ICONS
$icomoon-font-family: "icons" !default;
$icomoon-font-path: "../../assets/fonts" !default;

$icon-location: "\e908";
$icon-time: "\e909";
$icon-arrow-right: "\e900";
$icon-cart: "\e901";
$icon-heart: "\e902";
$icon-instagram: "\e903";
$icon-search: "\e904";
$icon-tg: "\e905";
$icon-vk: "\e906";
$icon-whatsapp: "\e907";

