.container
	.section__container
		.section__left
			h2.section__title Lorem ipsum dolor sit amet 
				span Lorem ipsum
			ul.section__list
				li.section__list-item Доступные цены
				li.section__list-item Собственное производство  Дымоходов
				li.section__list-item Выполнение необходимых работ, связанных с установкой камина, печи, котла
				li.section__list-item Гарантия (от трёх до десяти лет)
				li.section__list-item Работаем чисто, аккуратно, убираем за собой, не сквернословим
				li.section__list-item Только русские квалифицированные специалисты
				li.section__list-item Устанавливаем любые дымоходы всех производителей
		
		.section__right
			img(src="../../assets/images/chimney.svg")