- var list = ["Рассчёт предварительной заявки", "Замер объекта нашим инженером", "Составление Коммерческого предложения по изделиям дымохода и 	окончательной сметы на  работы ", "Изготовление Дымохода, покраска (если требуется)", "Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация", "Гарантийное обслуживание по соответствующем сроку"]

.container
	.process
		h3.process__title Процесс выполнения монтажа
		ol.process__list
			each item in list 
				li.process__list-item= item 
