extends ../layouts/default

block variables

block content
	.container
		p.main-paragraph В 
			<span>Дымоход.ру</span> вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть .

	include ../../components/main-section/main-section
	include ../../components/process/process
	include ../../components/benefits/benefits
	include ../../components/consultation/consultation
	include ../../components/video/video
	include ../../components/gallery/gallery