.footer 
	.container
		.footer__container 
			.footer__item.footer__catalog
				h5.footer__item-title Каталог
				ul.footer__list 
					li.footer__list-item
						a.footer__list-link(href="#") Дымоходы
					li.footer__list-item
						a.footer__list-link(href="#") Дымососы
					li.footer__list-item
						a.footer__list-link(href="#") Печи для дома
					li.footer__list-item
						a.footer__list-link(href="#") Печи для бани
					li.footer__list-item
						a.footer__list-link(href="#") Камины
					li.footer__list-item
						a.footer__list-link(href="#") Силикат кальция
					li.footer__list-item
						a.footer__list-link(href="#") Котлы
					li.footer__list-item
						a.footer__list-link(href="#") Ещё
					 
			.footer__item.footer__info
				h5.footer__item-title Информация
				ul.footer__list 
					li.footer__list-item
						a.footer__list-link(href="#") Каталог
					li.footer__list-item
						a.footer__list-link(href="#") Установка и монтаж
					li.footer__list-item
						a.footer__list-link(href="#") Отзывы
					li.footer__list-item
						a.footer__list-link(href="#") Ликвидация товара
					li.footer__list-item
						a.footer__list-link(href="#") Полезное
					li.footer__list-item
						a.footer__list-link(href="#") Контакты
					li.footer__list-item
						a.footer__list-link(href="#") Оплата и доставка
					 

			.footer__item 
				h5.footer__item-title.hidden Время работы
				.footer__time.hidden
					span.icon-time
					.footer__timetable
						p.footer__timetable-work
							<span>пн-пт </span> 9:00 – 20:00 
						p.footer__timetable-weekend
							<span>сб-вс </span> 9:00 – 20:00 

				.footer__location.hidden
					span.icon-location
					p.footer__location-text г. Санкт - Петербург, ул. Тамбасова д.7

				.footer__socials
					ul.footer__socials-list 
						li.footer__socials-item 
							a.footer__socials-link(href="https://vk.com")
								span.icon-vk
						li.footer__socials-item 
							a.footer__socials-link(href="https://web.telegram.org")
								span.icon-tg
						li.footer__socials-item 
							a.footer__socials-link(href="https://instagram.com")
								span.icon-instagram
						li.footer__socials-item 
							a.footer__socials-link(href="https://web.whatsapp.com")
								span.icon-whatsapp