.breadcrumbs
	.breadcrumbs__divider
	.breadcrumbs__list
		a.breadcrumbs__main(href="#") Главная
		img(src="../../assets/images/icons/arrow-right.svg")
		a.breadcrumbs__page(href="#") Монтаж дымоходов
	.breadcrumbs__divider 